@tailwind base;
@tailwind components;
@tailwind utilities;

.myBackgroundImage {
  position: relative;
  overflow: hidden;
  background-image: url('./assets/images/else/bgimg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
